In [15]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [3]:
df = pd.read_csv('NursingData_clean.csv')

In [4]:
df.head()

,Unnamed: 0,time,Year,Month,TimeofDay,LeftFeed,RightFeed,BotFeed,TotalFeed,BotAmt,Sleep
0,0,2015-06-21 01:17:09,2015,6,Late night,0.00,1.3,0,1.30,NaN,NaN
1,1,2015-06-21 02:00:39,2015,6,Late night,7.52,0.0,0,7.52,NaN,NaN
2,2,2015-06-21 02:37:57,2015,6,Late night,14.50,0.0,0,14.50,NaN,NaN
3,3,2015-06-21 05:23:55,2015,6,Late night,0.00,20.0,0,20.00,NaN,NaN
4,4,2015-06-21 05:47:59,2015,6,Late night,22.18,0.0,0,22.18,NaN,NaN

In [9]:
df['time'] = pd.to_datetime(df['time'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3267 entries, 0 to 3266
Data columns (total 11 columns):
Unnamed: 0    3267 non-null int64
time          3267 non-null datetime64[ns]
Year          3267 non-null int64
Month         3267 non-null int64
TimeofDay     3267 non-null object
LeftFeed      2560 non-null float64
RightFeed     2560 non-null float64
BotFeed       3267 non-null float64
TotalFeed     2560 non-null float64
BotAmt        77 non-null float64
Sleep         674 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(3), object(1)
memory usage: 306.3+ KB

In [12]:
jun21 = pd.date_range('6/21/2015', periods=1440, freq='min')

In [11]:
60*24

1440

In [19]:
ts = pd.DataFrame(np.zeros((len(jun21),2)),columns=['Eat','Sleep'],index=jun21)

In [20]:
ts.head()

                     Eat  Sleep
2015-06-21 00:00:00    0      0
2015-06-21 00:01:00    0      0
2015-06-21 00:02:00    0      0
2015-06-21 00:03:00    0      0
2015-06-21 00:04:00    0      0