In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('NursingData.csv')

In [22]:
headers = list(df.columns.values)

In [23]:
newhead = []

In [24]:
for name in headers:
    newhead.append(name.strip())

In [25]:
newhead

['#',
 'time',
 'Left',
 'Right',
 'Bottle',
 'Bottle Amount',
 'Sleep time',
 'wet',
 'solid',
 'Pump Amount']

In [26]:
df.columns = newhead

In [27]:
df

,#,time,Left,Right,Bottle,Bottle Amount,Sleep time,wet,solid,Pump Amount
0,1,06/21/15 01:17:09,0:0,1:18,0:0,,NaN,NaN,NaN,NaN
1,2,06/21/15 02:00:39,7:31,0:0,0:0,,NaN,NaN,NaN,NaN
2,3,06/21/15 02:37:57,14:3,0:0,0:0,,NaN,NaN,NaN,NaN
3,4,06/21/15 05:23:55,0:0,20:0,0:0,,NaN,NaN,NaN,NaN
4,5,06/21/15 05:47:59,22:11,0:0,0:0,,NaN,NaN,NaN,NaN
5,6,06/21/15 06:24:35,0:0,15:50,0:0,,NaN,NaN,NaN,NaN
6,7,06/21/15 07:50:08,13:37,0:0,0:0,,NaN,NaN,NaN,NaN
7,8,06/21/15 08:44:12,0:0,9:40,0:0,,NaN,NaN,NaN,NaN
8,9,06/21/15 09:48:26,0:0,16:27,0:0,,NaN,NaN,NaN,NaN
9,10,06/21/15 10:46:21,18:41,0:0,0:0,,NaN,NaN,NaN,NaN
10,11,06/21/15 11:13:51,20:0,0:0,0:0,,NaN,NaN,NaN,NaN
11,12,06/21/15 11:58:37,0:0,20:0,0:0,,NaN,NaN,NaN,NaN
12,13,06/21/15 15:05:44,15:0,7:0,0:0,,NaN,NaN,NaN,NaN
13,14,06/21/15 16:30:33,0:0,12:0,0:0,,NaN,NaN,NaN,NaN
14,15,06/21/15 18:12:37,29:52,0:0,0:0,,NaN,NaN,NaN,NaN
15,16,06/21/15 21:31:23,0:0,15:0,0:0,,NaN,NaN,NaN,NaN
16,17,06/21/15 23:14:22,40:55,0:0,0:0,,NaN,NaN,NaN,NaN
17,18,06/21/15 23:59:14,0:0,16:50,0:0,,NaN,NaN,NaN,NaN
18,19,06/22/15 01:30:31,0:0,13:40,0:0,,NaN,NaN,NaN,NaN
19,20,06/22/15 01:53:45,8:41,0:0,0:0,,NaN,NaN,NaN,NaN
20,21,06/22/15 02:55:56,11:37,0:0,0:0,,NaN,NaN,NaN,NaN
21,22,06/22/15 03:18:23,13:45,0:0,0:0,,NaN,NaN,NaN,NaN
22,23,06/22/15 04:02:48,0:0,18:40,0:0,,NaN,NaN,NaN,NaN
23,24,06/22/15 06:38:09,25:25,0:0,0:0,,NaN,NaN,NaN,NaN
24,25,06/22/15 07:33:03,0:0,20:0,0:0,,NaN,NaN,NaN,NaN
25,26,06/22/15 09:12:34,12:3,0:0,0:0,,NaN,NaN,NaN,NaN
26,27,06/22/15 09:32:06,0:0,14:43,0:0,,NaN,NaN,NaN,NaN
27,28,06/22/15 10:11:36,7:0,15:0,0:0,,NaN,NaN,NaN,NaN
28,29,06/22/15 11:07:19,13:21,0:0,0:0,,NaN,NaN,NaN,NaN
29,30,06/22/15 12:22:05,15:0,0:0,0:0,,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3237,4,06/21/15 07:50:13,,,,,,-,O,NaN
3238,5,06/21/15 11:02:34,,,,,,-,O,NaN
3239,6,06/21/15 18:42:46,,,,,,O,O,NaN
3240,7,06/21/15 21:10:24,,,,,,O,O,NaN
3241,8,06/21/15 23:06:24,,,,,,-,O,NaN
3242,9,06/22/15 01:25:41,,,,,,O,O,NaN
3243,10,06/22/15 07:52:59,,,,,,O,-,NaN
3244,11,06/22/15 10:12:08,,,,,,O,O,NaN
3245,12,06/22/15 18:39:00,,,,,,O,O,NaN
3246,13,06/22/15 22:36:31,,,,,,O,-,NaN
3247,14,06/23/15 05:01:04,,,,,,O,O,NaN
3248,15,06/23/15 08:44:03,,,,,,O,O,NaN
3249,16,06/23/15 12:51:38,,,,,,O,-,NaN
3250,17,06/23/15 14:57:59,,,,,,O,-,NaN
3251,18,06/23/15 17:01:40,,,,,,O,O,NaN
3252,19,06/24/15 01:31:40,,,,,,O,-,NaN
3253,20,06/24/15 02:50:07,,,,,,O,O,NaN
3254,21,06/24/15 05:51:43,,,,,,O,O,NaN
3255,22,06/24/15 16:46:38,,,,,,O,O,NaN
3256,23,06/24/15 16:51:00,,,,,,O,-,NaN
3257,24,06/24/15 22:45:44,,,,,,-,O,NaN
3258,25,06/24/15 23:15:09,,,,,,O,O,NaN
3259,26,06/25/15 06:13:48,,,,,,O,O,NaN
3260,27,06/25/15 10:14:24,,,,,,O,O,NaN
3261,28,06/25/15 15:02:21,,,,,,O,O,NaN
3262,29,06/25/15 16:51:59,,,,,,O,-,NaN
3263,30,07/05/15 19:15:47,,,,,,O,-,NaN
3264,31,07/25/15 20:16:32,,,,,,O,-,NaN
3265,32,09/13/15 03:03:00,,,,,,O,-,NaN
3266,33,10/28/15 15:21:46,,,,,,O,-,NaN

In [28]:
df.dtypes

#                 int64
time             object
Left             object
Right            object
Bottle           object
Bottle Amount    object
Sleep time       object
wet              object
solid            object
Pump Amount      object
dtype: object

In [29]:
from datetime import datetime

In [33]:
df['time'] = pd.to_datetime(df['time'])

In [34]:
ordered = df.sort_values('time')

In [155]:
ordered[:15]

,#,time,Left,Right,Bottle,Bottle Amount,Sleep time,wet,solid,Pump Amount
3234,1,2015-05-31 00:48:35,,,,,,O,-,NaN
0,1,2015-06-21 01:17:09,0:0,1:18,0:0,,NaN,NaN,NaN,NaN
3235,2,2015-06-21 01:17:27,,,,,,O,O,NaN
2560,1,2015-06-21 01:19:50,,,,,0:39:28,NaN,NaN,NaN
1,2,2015-06-21 02:00:39,7:31,0:0,0:0,,NaN,NaN,NaN,NaN
2561,2,2015-06-21 02:08:15,,,,,0:29:40,NaN,NaN,NaN
2,3,2015-06-21 02:37:57,14:3,0:0,0:0,,NaN,NaN,NaN,NaN
2562,3,2015-06-21 02:52:03,,,,,1:30:3,NaN,NaN,NaN
3,4,2015-06-21 05:23:55,0:0,20:0,0:0,,NaN,NaN,NaN,NaN
4,5,2015-06-21 05:47:59,22:11,0:0,0:0,,NaN,NaN,NaN,NaN
5,6,2015-06-21 06:24:35,0:0,15:50,0:0,,NaN,NaN,NaN,NaN
3236,3,2015-06-21 06:28:43,,,,,,O,-,NaN
6,7,2015-06-21 07:50:08,13:37,0:0,0:0,,NaN,NaN,NaN,NaN
3237,4,2015-06-21 07:50:13,,,,,,-,O,NaN
7,8,2015-06-21 08:44:12,0:0,9:40,0:0,,NaN,NaN,NaN,NaN

In [36]:
df['Left'].str.split(':')

0         [ 0, 0]
1        [ 7, 31]
2        [ 14, 3]
3         [ 0, 0]
4       [ 22, 11]
5         [ 0, 0]
6       [ 13, 37]
7         [ 0, 0]
8         [ 0, 0]
9       [ 18, 41]
10       [ 20, 0]
11        [ 0, 0]
12       [ 15, 0]
13        [ 0, 0]
14      [ 29, 52]
15        [ 0, 0]
16      [ 40, 55]
17        [ 0, 0]
18        [ 0, 0]
19       [ 8, 41]
20      [ 11, 37]
21      [ 13, 45]
22        [ 0, 0]
23      [ 25, 25]
24        [ 0, 0]
25       [ 12, 3]
26        [ 0, 0]
27        [ 7, 0]
28      [ 13, 21]
29       [ 15, 0]
          ...
3237          [ ]
3238          [ ]
3239          [ ]
3240          [ ]
3241          [ ]
3242          [ ]
3243          [ ]
3244          [ ]
3245          [ ]
3246          [ ]
3247          [ ]
3248          [ ]
3249          [ ]
3250          [ ]
3251          [ ]
3252          [ ]
3253          [ ]
3254          [ ]
3255          [ ]
3256          [ ]
3257          [ ]
3258          [ ]
3259          [ ]
3260          [ ]
3261          [ ]
3262          [ ]
3263          [ ]
3264          [ ]
3265          [ ]
3266          [ ]
dtype: object

In [140]:
import numpy as np

In [141]:
def convmmss(mmss):
    minlist = []
    for value in mmss:
        if len(value) == 1:
            value = [float('NaN'),float('NaN')]
        minutes = float(value[0]) + float(value[1])/60.
        minlist.append(minutes)
#        print(minutes)
    minarr = np.array(minlist)
    return minarr

In [142]:
mmss = df['Left'].str.split(':')

In [143]:
leftmin = convmmss(mmss)

In [145]:
rightmin = convmmss(df['Right'].str.split(':'))

In [161]:
totfeed = leftmin + rightmin

In [160]:
for i in range(3000,3025,1):
    print(leftmin[i],rightmin[i],tot[i])

nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan

In [173]:
df['Bottle'][1010]

' Bottle-Pump'

In [175]:
'Bottle-Pump' in df['Bottle']

False

In [204]:
bottime = np.zeros(len(df['Bottle']))

In [209]:
df['Bottle'] == ' Bottle-Pump'

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
3237    False
3238    False
3239    False
3240    False
3241    False
3242    False
3243    False
3244    False
3245    False
3246    False
3247    False
3248    False
3249    False
3250    False
3251    False
3252    False
3253    False
3254    False
3255    False
3256    False
3257    False
3258    False
3259    False
3260    False
3261    False
3262    False
3263    False
3264    False
3265    False
3266    False
Name: Bottle, dtype: bool

In [229]:
5. in bottime[2:]

True

In [225]:
bottime = np.where(botarr == ' Bottle-Pump',5.,0.)

In [226]:
bottime

array([ 0.,  0.,  0., ...,  0.,  0.,  0.])

In [230]:
bottime[1000:1500]

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,  0.,  0.,
        0.,  0.,  0.,  0.,  5.,  5.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        5.,  5.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,
        0.,  0.,  0.,  5.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  5.,  5.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  5.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        5.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,  5.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,  5.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,  0.,  0.,  5.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  5.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.])

In [232]:
totfeed + bottime

array([  1.3       ,   7.51666667,  14.05      , ...,          nan,
                nan,          nan])

In [233]:
newtot = totfeed + bottime

In [234]:
newtot[1000:1500]

array([  1.50000000e+01,   2.36166667e+01,   6.72500000e+01,
         1.14833333e+01,   1.79500000e+01,   2.13000000e+01,
         1.01433333e+02,   1.50000000e+01,   1.97666667e+01,
         1.50000000e+01,   5.00000000e+00,   1.59000000e+01,
         1.50000000e+01,   1.50000000e+01,   2.06666667e+01,
         1.50000000e+01,   1.50000000e+01,   1.54166667e+01,
         1.40500000e+01,   1.50000000e+01,   1.31666667e+01,
         2.64333333e+01,   1.14666667e+01,   3.00000000e+01,
         9.51666667e+00,   1.50000000e+01,   1.50000000e+01,
         2.49833333e+01,   2.00000000e+01,   2.22166667e+01,
         1.93500000e+01,   1.50000000e+01,   1.50000000e+01,
         1.50000000e+01,   1.50000000e+01,   1.78000000e+01,
         1.62500000e+01,   8.61666667e+00,   1.66166667e+01,
         1.72000000e+01,   1.20833333e+01,   1.19000000e+01,
         1.50000000e+01,   1.74166667e+01,   1.70666667e+01,
         1.50000000e+01,   1.50000000e+01,   1.50000000e+01,
         1.93333333e+01,   1.50000000e+01,   1.59166667e+01,
         1.91833333e+01,   1.96333333e+01,   1.50000000e+01,
         2.36000000e+01,   1.50000000e+01,   1.50000000e+01,
         1.50000000e+01,   1.30000000e+01,   8.86666667e+00,
         1.24000000e+01,   1.50000000e+01,   5.00000000e+00,
         1.01666667e+01,   8.56666667e+00,   9.86666667e+00,
         2.00000000e+01,   1.53333333e+01,   1.93000000e+01,
         5.00000000e+00,   5.00000000e+00,   1.50000000e+01,
         1.50000000e+01,   1.90666667e+01,   1.64333333e+01,
         1.63500000e+01,   1.31333333e+01,   1.34166667e+01,
         1.04333333e+01,   1.30000000e+01,   1.50000000e+01,
         1.50000000e+01,   1.50000000e+01,   1.50000000e+01,
         1.66500000e+01,   3.16500000e+01,   2.06666667e+01,
         2.60000000e+01,   1.59333333e+01,   1.50000000e+01,
         3.14666667e+01,   5.00000000e+00,   5.00000000e+00,
         1.98333333e+01,   1.50000000e+01,   1.50000000e+01,
         2.77166667e+01,   1.79000000e+01,   2.62166667e+01,
         3.65833333e+01,   1.23000000e+01,   1.59000000e+01,
         2.16500000e+01,   1.82500000e+01,   1.50000000e+01,
         1.50000000e+01,   1.50000000e+01,   1.95833333e+01,
         2.40500000e+01,   9.23333333e+00,   2.00000000e+01,
         1.50000000e+01,   2.47000000e+01,   2.29333333e+01,
         2.70833333e+01,   2.02500000e+01,   1.39683333e+02,
         2.54166667e+01,   1.10500000e+01,   1.50000000e+01,
         4.00000000e+01,   1.50000000e+01,   1.50000000e+01,
         1.67833333e+01,   1.50000000e+01,   1.50000000e+01,
         1.50000000e+01,   1.14500000e+01,   1.50000000e+01,
         9.98333333e+00,   1.50000000e+01,   1.82166667e+01,
         2.92333333e+01,   1.96500000e+01,   2.87500000e+01,
         8.81666667e+00,   1.30733333e+02,   3.53666667e+01,
         7.90000000e+00,   1.65166667e+01,   2.10833333e+01,
         1.15366667e+02,   1.92833333e+01,   8.40000000e+00,
         1.50000000e+01,   1.50000000e+01,   1.50000000e+01,
         7.36666667e+00,   1.90500000e+01,   1.66000000e+01,
         1.53333333e+01,   5.88333333e+00,   2.40666667e+01,
         2.38666667e+01,   2.76333333e+01,   5.00000000e+00,
         1.80166667e+01,   2.75333333e+01,   2.08500000e+01,
         5.00000000e+00,   1.59500000e+01,   3.31166667e+01,
         3.27500000e+01,   1.80000000e+01,   2.80000000e+01,
         1.56333333e+01,   2.05666667e+01,   1.24166667e+01,
         7.91666667e+00,   1.18333333e+01,   2.14500000e+01,
         5.00000000e+00,   5.00000000e+00,   1.50000000e+01,
         2.70000000e+01,   2.39333333e+01,   1.67833333e+01,
         1.59166667e+01,   1.50000000e+01,   3.00000000e+01,
         1.14500000e+01,   2.88333333e+01,   2.15500000e+01,
         1.42166667e+01,   3.24500000e+01,   4.34666667e+01,
         3.02833333e+01,   1.50000000e+01,   1.50000000e+01,
         6.45666667e+01,   1.56500000e+01,   2.30666667e+01,
         1.28166667e+01,   2.98833333e+01,   2.69000000e+01,
         1.94333333e+01,   1.50000000e+01,   1.87500000e+01,
         1.50000000e+01,   8.88333333e+00,   1.38833333e+01,
         1.35333333e+01,   2.80000000e+01,   3.41333333e+01,
         2.86166667e+01,   2.15333333e+01,   1.50000000e+01,
         1.50000000e+01,   1.77833333e+01,   1.50000000e+01,
         1.48666667e+01,   7.71666667e+00,   3.10000000e+01,
         9.36666667e+00,   4.01333333e+01,   1.00333333e+01,
         1.33200000e+02,   1.35383333e+02,   1.36783333e+02,
         1.09166667e+01,   2.26500000e+01,   2.50000000e+01,
         1.44166667e+01,   1.99333333e+01,   2.90000000e+01,
         1.50000000e+01,   2.10000000e+01,   9.17333333e+01,
         9.18333333e+00,   1.28333333e+01,   7.73333333e+00,
         2.22833333e+01,   1.81666667e+01,   4.17500000e+01,
         1.18000000e+01,   1.72500000e+01,   1.64666667e+01,
         9.66666667e+00,   2.81666667e+01,   2.00000000e+01,
         1.92666667e+01,   1.99333333e+01,   2.37166667e+01,
         1.24000000e+01,   1.50833333e+01,   1.50000000e+01,
         1.62500000e+01,   9.08333333e+00,   2.53000000e+01,
         2.00000000e+01,   1.01833333e+01,   2.30000000e+01,
         1.02500000e+01,   1.17500000e+01,   1.50000000e+01,
         2.44500000e+01,   1.37166667e+01,   6.45500000e+01,
         1.72500000e+02,   1.46000000e+01,   1.34666667e+01,
         1.93050000e+02,   1.20333333e+01,   2.15166667e+01,
         2.00000000e+01,   1.91333333e+01,   1.50000000e+01,
         1.50000000e+01,   2.50000000e+01,   2.00000000e+01,
         2.80000000e+01,   1.50000000e+01,   1.81166667e+01,
         3.61666667e+01,   1.25500000e+01,   1.50000000e+01,
         1.12500000e+01,   1.25166667e+01,   1.79333333e+01,
         1.73166667e+01,   3.10000000e+01,   5.00000000e+00,
         3.05500000e+01,   7.53333333e+00,   1.50000000e+01,
         1.50000000e+01,   1.50000000e+01,   9.05000000e+00,
         1.50000000e+01,   5.00000000e+00,   2.00500000e+01,
         1.50000000e+01,   1.50000000e+01,   1.94500000e+01,
         1.50000000e+01,   1.50000000e+01,   1.50000000e+01,
         2.11833333e+01,   1.03333333e+00,   5.00000000e+00,
         1.50000000e+01,   2.68833333e+01,   2.24833333e+01,
         2.80000000e+01,   9.66666667e+00,   1.32833333e+01,
         1.50000000e+01,   1.15833333e+01,   2.00000000e+01,
         1.50000000e+01,   5.00000000e+00,   5.00000000e+00,
         1.50000000e+01,   1.35333333e+01,   2.67333333e+01,
         1.49000000e+01,   8.35000000e+00,   2.39333333e+01,
         1.23333333e+01,   1.36166667e+01,   2.63833333e+01,
         9.50000000e+00,   1.79833333e+01,   1.73166667e+01,
         2.28500000e+01,   1.50000000e+01,   1.50000000e+01,
         1.57000000e+01,   1.50000000e+01,   1.62666667e+01,
         3.24333333e+01,   2.24333333e+01,   1.89166667e+01,
         5.00000000e+00,   5.00000000e+00,   1.50833333e+01,
         2.75666667e+01,   1.05166667e+01,   1.50000000e+01,
         1.50000000e+01,   1.50000000e+01,   3.00000000e+01,
         5.58333333e+00,   1.50000000e+01,   1.11666667e+01,
         1.11333333e+01,   8.00000000e+00,   5.00000000e+00,
         3.45333333e+01,   1.91500000e+01,   1.52666667e+01,
         1.50333333e+01,   1.50000000e+01,   1.69000000e+01,
         1.31000000e+01,   1.56000000e+01,   2.00000000e+01,
         1.89666667e+01,   2.80000000e+01,   1.31333333e+01,
         1.90833333e+01,   1.50000000e+01,   1.50000000e+01,
         2.00000000e+01,   2.76166667e+01,   2.50000000e+01,
         1.03383333e+02,   3.03000000e+01,   9.29166667e+01,
         1.48833333e+01,   1.41666667e+01,   2.08833333e+01,
         7.33333333e+00,   1.02333333e+01,   3.31166667e+01,
         2.30000000e+01,   5.00000000e+00,   1.82166667e+01,
         2.80000000e+01,   1.89000000e+01,   2.34000000e+01,
         1.50000000e+01,   1.50000000e+01,   3.97833333e+01,
         1.61500000e+01,   1.02000000e+01,   7.97833333e+01,
         2.69000000e+01,   5.00000000e+00,   1.50000000e+01,
         1.18666667e+01,   1.50000000e+01,   1.91166667e+01,
         2.80000000e+01,   1.60000000e+01,   1.28333333e+01,
         8.19833333e+01,   2.67833333e+01,   5.71666667e+00,
         2.30000000e+01,   1.50000000e+01,   2.73666667e+01,
         3.58166667e+01,   3.49833333e+01,   1.50000000e+01,
         3.71666667e+01,   1.50000000e+01,   1.50000000e+01,
         1.50000000e+01,   2.40000000e+01,   1.00000000e+01,
         1.00000000e+01,   2.81666667e+01,   1.34166667e+01,
         2.23833333e+01,   1.50000000e+01,   5.00000000e-02,
         9.02500000e+01,   8.43333333e+00,   9.86000000e+01,
         9.18666667e+01,   1.81166667e+01,   1.80000000e+01,
         1.30000000e+01,   5.00000000e+00,   1.50000000e+01,
         1.20666667e+01,   5.00000000e+00,   2.74166667e+01,
         1.50000000e+01,   1.50000000e+01,   1.50000000e+01,
         3.91166667e+01,   1.09666667e+01,   1.75333333e+01,
         1.50000000e+01,   1.26500000e+01,   1.54833333e+01,
         2.20000000e+01,   1.30000000e+01,   5.00000000e+00,
         1.03733333e+02,   7.15000000e+00,   2.38333333e+00,
         7.98500000e+01,   6.34000000e+01,   2.28166667e+01,
         2.27500000e+01,   1.93333333e+01,   1.38333333e+01,
         1.68166667e+01,   5.00000000e+00,   1.07500000e+01,
         2.76500000e+01,   1.50000000e+01,   1.20450000e+02,
         8.18333333e+00,   1.12000000e+01,   2.80000000e+01,
         2.53500000e+01,   1.04000000e+01,   1.81000000e+01,
         1.91000000e+01,   1.54666667e+01,   1.41000000e+01,
         5.00000000e+00,   8.00000000e+00,   1.50000000e+01,
         2.98333333e+01,   4.00000000e+00,   1.00000000e+01,
         1.50000000e+01,   5.00000000e+00,   1.58166667e+01,
         8.85000000e+00,   1.50000000e+01,   5.00000000e+00,
         1.00000000e+01,   2.20000000e+01,   1.76666667e+01,
         2.30833333e+01,   1.69333333e+01,   1.01833333e+01,
         1.81666667e+01,   1.46333333e+01,   2.10500000e+01,
         1.50166667e+01,   2.84166667e+01,   2.66333333e+01,
         5.00000000e+00,   9.71666667e+00,   1.07666667e+01,
         9.85000000e+00,   1.50000000e+01,   1.50000000e+01,
         1.00000000e+01,   1.30000000e+01,   1.01333333e+01,
         1.87833333e+01,   2.06500000e+01])